@font-face {
  font-family: UbuntuMono;
  src: url(../fonts/BeVietnamPro-Regular.ttf);
}
html{
  font-family: UbuntuMono;
  font-size: 22px;
}

body{
    margin: 20px;
    color:rgb(0, 0, 0);
    lighting-color:blue;
    outline-color:white;
    text-align:center;
    background-image:url('https://cdn.wallpapersafari.com/8/77/bKTLUF.jpg');
    background-size: cover;
    height:100vh;
    
}
center{
    margin-left: auto;
    margin-right: auto;
    
}
th{
    border: 1px solid #02484d;
    border-spacing: 0;
    width: 40%;
    border-radius: 5px;
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-style: solid;
    border-color: #02484d;
    background-color: #2664f1;
    color: white;
    box-shadow: 3px 3px 3px rgb(0 0 0);
}
td{
  box-shadow: 3px 3px 3px rgb(0 0 0);
}
table, td{
    border: 1px solid #02484d;
    border-spacing: 0;
    border-radius: 5px;
    width: 45%;
    font-size:14px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-style: solid;
    border-color: #02484d;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    border-collapse: separate;
    border-spacing: 11px;
    
    
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255,0.75);
}
tr:nth-child(odd) {
  background-color: rgb(255, 255, 255,0.75);
}

input[type=text], select {
  background-color: rgb(255, 255, 255);
  min-height:1.4rem;
  border-radius: 4px;
  text-align: center;

}


input[type=submit] {
  width: 50;
  background-color: #2664f1;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  margin: 11px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(0 0 0);
}

input[type=submit]:hover {
  background-color: #03282b;
  color:gray;
  
}

.button {
  background-color: #02484d;
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #03282b;
  border: 4px;
  color: white;
  border-color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color:gray;
}